.pokemon-display {
    background: beige;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: fit-content;
    max-width: 1320px;
    margin-top: 60px;
}

.pokemon-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
}

.image-container {
    height: 100px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 100px 100px 0 0;
}

.name-container {
    height: 100px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 100px 100px;
    cursor: pointer;
}

.pokemon-card-center {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: beige;
    border: 1px solid black;
    cursor: pointer;
}

h4 {
    margin: 0;
}